<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Beauty Nail</title>
		<script th:replace="fragments/head :: headerElement"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-darkness/jquery-ui.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>	
		<script>
			$(document).ready(function(){
				$("#datepicker").datepicker({
					minDate:0,
					dateFormat:"dd/mm/yy",
					defaultDate: "+1w",
	                changeMonth: true,
	                numberOfMonths: 1,
	                beforeShowDay: $.datepicker.noWeekends
					});
				if ($("#datepicker").val() == '') {
			    $("#datepicker").datepicker().datepicker("setDate", new Date());
			}
			});
		</script>
	</head>
	<body class="backImg">
		<div th:replace="fragments/head :: header"></div>
		<div class="container" th:if="${booking != null}">
			<div class="row">
				<h1 style="color: white;">Book here!</h1> 
			
			  <div class="col-sm-3" >
			  </div>
			  <div class="col-sm-5">
			 	  <div class="card" style="margin-top: 1.5em;">
			 		<div class="card-header"> </div>
			 	  	<div class="card-body">
						<form action="" name="booking"  method="post">
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>	
							<input type="hidden" th:field="${booking.bookingId}"/>
							<div class="row mt-3" sec:authorize="hasRole('ADMIN')">
								<label> Customer: </label>	
								<div class="d-grid gap-2">
									<select id="select1" class="btn btn-light" th:field="${booking.user}">
							            <option th:each="user : ${user}"
							            	th:value="${user.id}"
							            	th:text="${user.name}"></option>
					        		</select>
								</div>
							</div>
							<div class="row mt-3">
								<label> Select you Nail Designer </label>	
								<div class="d-grid gap-2">
									<select id="select1" class="btn btn-light" th:field="${booking.manicure}">
							            <option th:each="manicure : ${manicure}"
							            	th:value="${manicure.manicureID}"
							            	th:text="${manicure.type}+' -  € '+${manicure.price}"></option>
					        		</select>
								</div>
							</div>
	
							<div class="row mt-3">
								<label> Choose the date and time </label>					
								<div class="col-md-7">
					           		<input type = "text" name="date" class="datepicker form-control btn btn-light" autocomplete="off" style="width: 100%;margin-bottom:15px;" id="datepicker" th:field="${booking.date}">  
									
								</div>
								

								<div class="col-md-5">
									<select id="select1" class="btn btn-light" style="width: 100%" th:field="${booking.time}">
							            <option value="10:00">10:00</option>
							            <option value="11:00">11:00</option>
							            <option value="13:00">13:00</option>
							            <option value="14:00">14:00</option>
							            <option value="15:00">15:00</option>
							            <option value="16:00"> 16:00</option>
						        	</select>
								</div>
							</div>
							<div class="row mt-3">
					        	<div class="d-grid gap-2">
									<button type="submit" name="action" value="checkTimeAvailable" class="btn btn-secondary"> Check if the date/time selected is available </button>
									<div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
									<div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
								</div>
							</div>
			
							<div class="row mt-3">
								<div class="col-md-6">
				        			<button type="submit" name="action" value="delete" class="btn btn-danger" id="CancelBtn" onclick="return confirm('Are you sure you want to cancel this booking?')">Cancel</button>
								</div>
					        	<div class="col-md-6">
									<button type="submit" name="action" value="save" class="btn btn-primary" id="bookBtn" style="float:right;" onclick="validateBooking()"> Book </button>
								</div>
								
							</div>
						</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>