<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Beauty Nail</title>
		<script th:replace="fragments/head :: headerElement"></script>
	</head>
	<body class="backImg">
		<div th:replace="fragments/head :: header"></div>
		<div class="container" style="margin-top: 1.5em;">
			<div class="row">
				<div class="col-8" style="color:whitesmoke">
					<h1>My Bookings</h1>
				</div>

			</div>
			

				<div th:if"${booking !=null}">
					<div class="row">
						<div class="col">
							<form action="/booking" method="post">
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
								<button class="btn btn-primary" id="book" style="float:right">Make a new booking</button>
							</form>
						</div>
					</div>
					
					<div class="row">
						  <div class="col-sm-6">
						    <div class="card" th:each="booking : ${booking}" style="margin-top: 10px;">
						      <div class="card-body">
						        <h5 class="card-title" th:text="${booking.type}">Manicure</h5>
						        <p class="card-text" th:text="${booking.date}">Date</p>
						        <p class="card-text" th:text="${booking.time}">Time</p>
						        <a th:href="@{/booking/{bookingId}(bookingId=${booking.bookingId})}" class="btn btn-primary">Edit</a>   
						      </div>
						    </div>
						  </div>
					</div>
				</div>
			</div>		
	
	</body>
</html>