<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Beauty Nail</title>
		<script th:replace="fragments/head :: headerElement"></script>
		
	</head>
	<body>
		<div th:replace="fragments/head :: header"></div>
		<h1>Professional Manicure</h1>
		<div class="row">
		  <div class="col-sm-4">
		    <div class="card">
		      <div class="card-body">
		        <h5 class="card-title">Acrylic</h5>
		        <p class="card-text">It’s a combination of a liquid and powder that creates a hard protective
		         layer over your natural nail and false tips. The mixture hardens from exposure to air and creates
		          a transparent canvas for regular nail polish.</p>
		          <p><b>How long it takes:</b> about 1.5 hours for a full set and 45 minutes for a fill.</p>
		          <p><b>How long it lasts:</b> Two to three weeks.</p>
		          <p><b>Cost:</b> €40 for a full set, €15 for a fill.</p>    
		        <div class="image">	
		        	<img src="/images/nails12.jpg" class="pic" alt="unhas1">
		        </div>
		        <a href="dashboard.html" class="btn btn-primary" style="float:right">Book here</a>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-4">
		    <div class="card">
		      <div class="card-body">
		        <h5 class="card-title">Paraffin Manicure</h5>
		        <p class="card-text">A parrafin manicure involves dipping your hand in paraffin wax—a colorless,
		         odorless wax derived from beeswax and petroleum—and placing them in plastic gloves and wrapping
		          in a hot towel.</p>
		          <p><b>How long it takes:</b> about 30 min to an hour.</p>
		          <p><b>How it affects nail health:</b> It won't affect your nails as it's a natural ingredient'.</p>
		          <p><b>Cost:</b> €35</p>
		        <div class="image">	
		        	<img src="/images/nails13.jpg" class="pic" alt="unhas1">
		        </div>
		        <a href="dashboard.html" class="btn btn-primary" style="float:right">Book here</a>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-4">
		    <div class="card">
		      <div class="card-body">
		        <h5 class="card-title">Special title treatment</h5>
		        <p class="card-text">Instead of a lacquer, the color comes from a pigmented powder.
		         Between base coats and a sealant, you dip your nails into a little jar of your chosen color.
		         The powder will only stick to the sealant, so it leaves less room for messy cuticles.</p>
		         <p><b>How long it takes:</b> about 45 min.</p>
		          <p><b>How long it lasts:</b> Up to three to four weeks without chips.</p>
		          <p><b>Cost:</b> €35 per application.</p>
		        <div class="image">	
		        	<img src="/images/nails3.jpg" class="pic" alt="unhas1">
		        </div>
		        <a href="dashboard.html" class="btn btn-primary" style="float:right">Book here</a>
		      </div>
		    </div>
		  </div>
		</div>
			
		<div class="row" style="margin-top: 10px;">
		  <div class="col-sm-4">
		    <div class="card">
		      <div class="card-body">
		        <h5 class="card-title">Gel</h5>
		        <p class="card-text">Also known as “hard gel,” it can be applied over natural or fake nails. 
		        The main difference from Shellac (or soak-off gel) is that you can extend the length of the nail, 
		        which can be sculpted and shaped just like acrylic.</p>
		        <p><b>How long it takes:</b> about 45 min to an hour.</p>
		        <p><b>How long it lasts:</b> two or three weeks.</p>
		        <p><b>Cost:</b> €40 per application.</p>
		        <div class="image">	
		        	<img src="/images/nails4.jpg" class="pic" alt="unhas1">
		        </div>
		        <a href="dashboard.html" class="btn btn-primary" style="float:right">Book Here</a>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-4">
		    <div class="card">
		      <div class="card-body">
		        <h5 class="card-title">Basic Polish</h5>
		        <p class="card-text">You know the one. Paint it on yourself or hit up your manicure spot for a 
		        pristine application. Just make sure you spend ample 
		        time under the nail dryer or you'll risk those dreaded dings on the way out.</p>
		        <p><b>How long it takes:</b> about 30 min.</p>
		        <p><b>How long it lasts:</b> about one week.</p>
		        <p><b>Cost:</b> €20 per application.</p>
		        <div class="image">	
		        	<img src="/images/nails11.jpg" class="pic" alt="unhas1">
		        </div>
		        <a href="dashboard.html" class="btn btn-primary" style="float:right">Book here</a>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-4">
		    <div class="card">
		      <div class="card-body">
		        <h5 class="card-title">Shellac</h5>
		        <p class="card-text">It’s basically a hybrid of gel and nail polish that’s cured and hardened with a UV light.
		        The word Shellac is actually just the trademark name of CND, the first company to invent and register this type of polish.</p>
		        <p><b>How long it takes:</b> about 45 min to an hour.</p>
		        <p><b>How long it lasts:</b> about two or three weeks.</p>
		        <p><b>Cost:</b> €35 per application.</p>
		        <div class="image">	
		        	<img src="/images/nails5.jpg" class="pic" alt="unhas1">
		        </div>
		        <a href="dashboard.html" class="btn btn-primary" style="float:right">Book here</a>
		      </div>
		    </div>
		  </div>
		</div>		
	</body>	
</html>